In [62]:
'''
PANDAS LIRARY IS USED TO MANIPULATE THE DATA 
'''

import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [35]:
'''
READING TSV FILE 
'''
fitness_pal_data = pd.read_csv('/data/workspace_files/data.tsv', delimiter='\t')

In [36]:
'''
WE HAVE TO SEPERATE FOOD IDS AND WRITE THEM IN A SEPERATE ROW THATS WHY I 
WRITE THIS FUNCTION EXPLODE TO WRITE 1,2,3,4 FOOD IDS INTO SEPERATE ROW
'''

fitness_pal_data['food_ids'] = fitness_pal_data['food_ids'].str.split(',')
fitness_pal_data = fitness_pal_data.explode('food_ids')

# Reset the index
fitness_pal_data = fitness_pal_data.reset_index(drop=True)

In [37]:

'''
NOW WE CAN SEEN THAT FOOD IDS ARE SAPERATED 
'''
fitness_pal_data.head(3)

,meal_id,user_id,date,meal_sequence,food_ids
0,1,1,2014-09-14,1,1
1,1,1,2014-09-14,1,2
2,1,1,2014-09-14,1,3

In [38]:


'''
I WILL COMBINE FITNESS PAL ITEM WITH MEAL_ID BY USING INNER JOIN 
'''
fitness_pal_item = pd.read_csv('/data/workspace_files/items.tsv', delimiter='\t')

In [39]:
'''
SHOWING FITNESS PAL ITEM CONTAIN ID AND ITEMS
'''

fitness_pal_item.head(2)

,id,item
0,1,egg_dairy__dairy_product__milk
1,2,"fruit__tropical__banana,nut_seed__nut__nut,sna..."

In [40]:
'''
I APPLIED INNER JOIN TO COMBINE FITNESS PAL DATA AND FITNESS PAL ITEM 
BASED ON ID FITNESS PAL DATA HAVE MEAL ID AND FITNESS PAL ITEM HAVE ID
ON THE BASIS OF THAT I APPLIED JOIN TO COMBINE THE DATASET 
'''

fitness_combined_data = pd.merge(fitness_pal_data, fitness_pal_item, left_on='meal_id', right_on='id', how='inner')

In [41]:
'''
SHOWING FITNESS COMBINED DATA 
'''
fitness_combined_data.head(2)

,meal_id,user_id,date,meal_sequence,food_ids,id,item
0,1,1,2014-09-14,1,1,1,egg_dairy__dairy_product__milk
1,1,1,2014-09-14,1,2,1,egg_dairy__dairy_product__milk

In [43]:
'''
READING USDA DATA 
'''
usda = pd.read_csv('/data/workspace_files/USDA.csv')

In [44]:
'''
SHOWING USDA DATA
'''
usda.head(2)

,ID,Description,Calories,Protein,TotalFat,Carbohydrate,Sodium,SaturatedFat,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD
0,1001,"BUTTER,WITH SALT",717.0,0.85,81.11,0.06,714.0,51.368,215.0,0.06,24.0,0.02,24.0,0.0,2.32,1.5
1,1002,"BUTTER,WHIPPED,WITH SALT",717.0,0.85,81.11,0.06,827.0,50.489,219.0,0.06,24.0,0.16,26.0,0.0,2.32,1.5

In [45]:
'''
CONVERT BOTHE COLUMNS INTO SAME INT 64 FORMAT SO WE CAN APPLY MERGE COLUMN
'''

usda['ID'] = usda['ID'].astype('int64')
fitness_combined_data['food_ids'] = fitness_combined_data['food_ids'].astype('int64')

In [46]:
'''
I APPLIED INNER JOIN TO COMBINE USDA AND FITNESS COMBINED DATA
BASED ON ID USDA  HAVE  ID AND FITNESS COMBINED DATA HAVE FOOD IDS
ON THE BASIS OF THAT I APPLIED JOIN TO COMBINE THE DATASET

'''
Merge_data = pd.merge(usda, fitness_combined_data, left_on='ID', right_on='food_ids', how='inner')

In [47]:
'''
SHOWING MERGE DATA
'''
Merge_data.head(2000)

,ID,Description,Calories,Protein,TotalFat,Carbohydrate,Sodium,SaturatedFat,Cholesterol,Sugar,...,VitaminC,VitaminE,VitaminD,meal_id,user_id,date,meal_sequence,food_ids,id,item
0,1001,"BUTTER,WITH SALT",717.0,0.85,81.11,0.06,714.0,51.368,215.0,0.06,...,0.0,2.32,1.5,2718,12,2015-03-05,2,1001,2718,"fruit__temperate__apple,meat__poultry__chicken..."
1,1002,"BUTTER,WHIPPED,WITH SALT",717.0,0.85,81.11,0.06,827.0,50.489,219.0,0.06,...,0.0,2.32,1.5,2723,12,2015-03-06,3,1002,2723,staple__rice__jambalaya
2,1002,"BUTTER,WHIPPED,WITH SALT",717.0,0.85,81.11,0.06,827.0,50.489,219.0,0.06,...,0.0,2.32,1.5,2727,12,2015-03-07,3,1002,2727,"staple__rice__pilaf,staple__rice__rice"
3,1003,"BUTTER OIL,ANHYDROUS",876.0,0.28,99.48,0.00,2.0,61.924,256.0,0.00,...,0.0,2.80,1.8,2731,12,2015-03-08,3,1003,2731,"beverage__hot_beverage__tea,condiment__condime..."
4,1004,"CHEESE,BLUE",353.0,21.40,28.74,2.34,1395.0,18.669,75.0,0.50,...,0.0,0.25,0.5,2742,12,2015-03-11,3,1004,2742,staple__maize__cornbread
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1044,"CHEESE,PAST PROCESS,SWISS",334.0,24.73,25.01,2.10,1370.0,16.045,85.0,1.23,...,0.0,0.34,0.5,43879,238,2014-10-14,1,1044,43879,"egg_dairy__dairy_product__cheddar_cheese,egg_d..."
1996,1044,"CHEESE,PAST PROCESS,SWISS",334.0,24.73,25.01,2.10,1370.0,16.045,85.0,1.23,...,0.0,0.34,0.5,43888,238,2014-10-19,3,1044,43888,"staple__wheat__crouton,staple__wheat__sourdough"
1997,1044,"CHEESE,PAST PROCESS,SWISS",334.0,24.73,25.01,2.10,1370.0,16.045,85.0,1.23,...,0.0,0.34,0.5,50209,270,2015-03-14,4,1044,50209,"condiment__condiment__honey,herb_spice__herbs_..."
1998,1044,"CHEESE,PAST PROCESS,SWISS",334.0,24.73,25.01,2.10,1370.0,16.045,85.0,1.23,...,0.0,0.34,0.5,50210,270,2015-03-15,1,1044,50210,"fruit__mediterranean__lemon,herb_spice__herbs_..."
1999,1044,"CHEESE,PAST PROCESS,SWISS",334.0,24.73,25.01,2.10,1370.0,16.045,85.0,1.23,...,0.0,0.34,0.5,51127,279,2014-12-07,4,1044,51127,"herb_spice__herbs__lemon_grass,meat__shellfish..."

In [48]:
'''
WE WILL GET THE USEFUL COLUMNS TO PERFORM OUR ANALYSIS 
'''

Merge_data=Merge_data[['date','Description','item','Calories','Protein','TotalFat','Carbohydrate','Sodium','SaturatedFat','Cholesterol','Sugar','Calcium','Iron','Potassium','VitaminC','VitaminE','VitaminD']]

In [49]:
'''
SHOWING RE ARRAGING MERGE DATA 
'''
Merge_data.head(2)

,date,Description,item,Calories,Protein,TotalFat,Carbohydrate,Sodium,SaturatedFat,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD
0,2015-03-05,"BUTTER,WITH SALT","fruit__temperate__apple,meat__poultry__chicken...",717.0,0.85,81.11,0.06,714.0,51.368,215.0,0.06,24.0,0.02,24.0,0.0,2.32,1.5
1,2015-03-06,"BUTTER,WHIPPED,WITH SALT",staple__rice__jambalaya,717.0,0.85,81.11,0.06,827.0,50.489,219.0,0.06,24.0,0.16,26.0,0.0,2.32,1.5

In [50]:
'''
CONVERT DATE INTO STANDARD FORMAT WHICH IS DATETIME FORMAT
'''
Merge_data['date'] = pd.to_datetime(Merge_data['date'])

In [51]:
'''
GET YEAR , MONTH , DAY FROM DATE TIME 
'''
# Extract year, month, and day into separate columns
Merge_data['year'] = Merge_data['date'].dt.year
Merge_data['month'] = Merge_data['date'].dt.month
Merge_data['day'] = Merge_data['date'].dt.day

In [52]:
'''
RE ARRANGING COLUMNS 
'''
Merge_data=Merge_data[['date','year','month','day','Description','item','Calories','Protein','TotalFat','Carbohydrate','Sodium','SaturatedFat','Cholesterol','Sugar','Calcium','Iron','Potassium','VitaminC','VitaminE','VitaminD']]

In [53]:
'''
REMOVE DUPLICATES ROWS IN THE DATASET
'''
Merge_data.drop_duplicates(inplace=True)

In [54]:
null_percentage = (Merge_data.isnull().mean() * 100).round(2)
null_percentage_df = pd.DataFrame({'Column': null_percentage.index, 'NullPercentage': null_percentage.values})
null_percentage_df.head(20)

,Column,NullPercentage
0,date,0.00
1,year,0.00
2,month,0.00
3,day,0.00
4,Description,0.00
5,item,0.00
6,Calories,0.00
7,Protein,0.00
8,TotalFat,0.00
9,Carbohydrate,0.00
10,Sodium,0.01
11,SaturatedFat,0.99
12,Cholesterol,1.72
13,Sugar,22.48
14,Calcium,1.14
15,Iron,0.71
16,Potassium,4.91
17,VitaminC,1.64
18,VitaminE,33.90
19,VitaminD,37.97

In [55]:
'''
CHECKING THE PERCENTAGE OF OUTLIERS 
'''

# Set the threshold for identifying outliers (e.g., 1.5 times the IQR)
outlier_threshold = 1.5

# Calculate the percentage of outliers in each column
outlier_percentages = []
for column in Merge_data.columns:
    if np.issubdtype(Merge_data[column].dtype, np.number):  # Check if column is numerical
        # Calculate the quartiles and IQR
        q1 = Merge_data[column].quantile(0.25)
        q3 = Merge_data[column].quantile(0.75)
        iqr = q3 - q1

        # Determine the outlier range
        lower_range = q1 - outlier_threshold * iqr
        upper_range = q3 + outlier_threshold * iqr

        # Count the number of outliers
        outliers = Merge_data[(Merge_data[column] < lower_range) | (Merge_data[column] > upper_range)]
        outlier_percentage = (len(outliers) / len(Merge_data)) * 100
        outlier_percentages.append(outlier_percentage)
    else:
        outlier_percentages.append(0)

# Create a DataFrame with column names and outlier percentages
result_df = pd.DataFrame({'Column': Merge_data.columns, 'OutlierPercentage': outlier_percentages})

In [56]:
'''
SHOWING PERCENTAGE OF OUTLIERS
'''
result_df.head(25)

,Column,OutlierPercentage
0,date,0.000000
1,year,0.000000
2,month,0.000000
3,day,0.000000
4,Description,0.000000
5,item,0.000000
6,Calories,4.359579
7,Protein,1.529879
8,TotalFat,5.308564
9,Carbohydrate,11.962961
10,Sodium,5.187784
11,SaturatedFat,2.323575
12,Cholesterol,3.324323
13,Sugar,8.328061
14,Calcium,17.518836
15,Iron,14.499339
16,Potassium,8.201530
17,VitaminC,19.428309
18,VitaminE,11.962961
19,VitaminD,6.660148

In [57]:
'''
GETTING LIST FROM COLUMN NAMES TO CHECK OULIERS
'''

columns_to_check=list(Merge_data.columns)

In [58]:
'''
THIS CODE BELOW CHECK THE NUMBER OF OULIERS AND NULL VALUES PRESENT IN SPECIFIC COLUMN OR NOT
'''
# Set the threshold for identifying outliers (e.g., 1.5 times the IQR)
outlier_threshold = 1.5


# Check for outliers and null values in the specified columns
for column in columns_to_check:
    if np.issubdtype(Merge_data[column].dtype, np.number):  # Check if column is numerical
        # Calculate the quartiles and IQR
        q1 = Merge_data[column].quantile(0.25)
        q3 = Merge_data[column].quantile(0.75)
        iqr = q3 - q1
        
        # Determine the outlier range
        lower_range = q1 - outlier_threshold * iqr
        upper_range = q3 + outlier_threshold * iqr
        
        # Check for outliers
        outliers = Merge_data[(Merge_data[column] < lower_range) | (Merge_data[column] > upper_range)]
        
        # Check for null values
        null_values = Merge_data[Merge_data[column].isnull()]
        
        if len(outliers) > 0:
            print(f"Outliers found in {column}:")
        else:
            print(f"No outliers found in {column}")
        
        if len(null_values) > 0:
            print(f"Null values found in {column}:")
        else:
            print(f"No null values found in {column}")
    else:
        print(f"{column} is not a numerical column")

date is not a numerical column
No outliers found in year
No null values found in year
No outliers found in month
No null values found in month
No outliers found in day
No null values found in day
Description is not a numerical column
item is not a numerical column
Outliers found in Calories:
No null values found in Calories
Outliers found in Protein:
No null values found in Protein
Outliers found in TotalFat:
No null values found in TotalFat
Outliers found in Carbohydrate:
No null values found in Carbohydrate
Outliers found in Sodium:
Null values found in Sodium:
Outliers found in SaturatedFat:
Null values found in SaturatedFat:
Outliers found in Cholesterol:
Null values found in Cholesterol:
Outliers found in Sugar:
Null values found in Sugar:
Outliers found in Calcium:
Null values found in Calcium:
Outliers found in Iron:
Null values found in Iron:
Outliers found in Potassium:
Null values found in Potassium:
Outliers found in VitaminC:
Null values found in VitaminC:
Outliers found in VitaminE:
Null values found in VitaminE:
Outliers found in VitaminD:
Null values found in VitaminD:

In [59]:
'''
FILLING NULL VALUES IF THE NUMERICAL COLUMN VALUE CONTAIN OUTLIER WE FILL IT 
WITH MEDIAN VALUE IF IT DONOT CONTAIN OUTLIER WE FILL IT WITH MEAN VALUE
'''
# Set the threshold for identifying outliers (e.g., 1.5 times the IQR)
outlier_threshold = 1.5

# Iterate over each column in the DataFrame
for column in Merge_data.columns:
    if np.issubdtype(Merge_data[column].dtype, np.number):  # Check if column is numerical
        # Calculate the quartiles and IQR
        q1 = Merge_data[column].quantile(0.25)
        q3 = Merge_data[column].quantile(0.75)
        iqr = q3 - q1

        # Determine the outlier range
        lower_range = q1 - outlier_threshold * iqr
        upper_range = q3 + outlier_threshold * iqr

        # Check if outliers and null values are present
        has_outliers = any((Merge_data[column] < lower_range) | (Merge_data[column] > upper_range))
        has_nulls = Merge_data[column].isnull().any()

        if has_outliers and has_nulls:
            # Fill null values with median
            Merge_data[column].fillna(Merge_data[column].median(), inplace=True)
        elif not has_outliers and has_nulls:
            # Fill null values with mean
            Merge_data[column].fillna(Merge_data[column].mean(), inplace=True)
    else:
        continue

In [60]:
Merge_data.head(2)

,date,year,month,day,Description,item,Calories,Protein,TotalFat,Carbohydrate,Sodium,SaturatedFat,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD
0,2015-03-05,2015,3,5,"BUTTER,WITH SALT","fruit__temperate__apple,meat__poultry__chicken...",717.0,0.85,81.11,0.06,714.0,51.368,215.0,0.06,24.0,0.02,24.0,0.0,2.32,1.5
1,2015-03-06,2015,3,6,"BUTTER,WHIPPED,WITH SALT",staple__rice__jambalaya,717.0,0.85,81.11,0.06,827.0,50.489,219.0,0.06,24.0,0.16,26.0,0.0,2.32,1.5

In [63]:
'''
MIN MAX THE DATA BETWEEN 0 AND 1 THE PURPOSE OF THIS IS TO
STANDARDIZE THE DATA
'''


# Select numerical columns
numerical_columns = Merge_data.select_dtypes(include='number').columns

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the numerical data using MinMaxScaler
Merge_data[numerical_columns] = scaler.fit_transform(Merge_data[numerical_columns])

In [64]:
'''
SHOWING THE STANDARDIZE DATA 
'''
Merge_data.head(20)

,date,year,month,day,Description,item,Calories,Protein,TotalFat,Carbohydrate,Sodium,SaturatedFat,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD
0,2015-03-05,1.0,0.181818,0.133333,"BUTTER,WITH SALT","fruit__temperate__apple,meat__poultry__chicken...",0.794900,0.010316,0.8111,0.000640,0.018422,0.537322,0.084248,0.000740,0.007201,0.000162,0.005063,0.0,0.015529,0.0060
1,2015-03-06,1.0,0.181818,0.166667,"BUTTER,WHIPPED,WITH SALT",staple__rice__jambalaya,0.794900,0.010316,0.8111,0.000640,0.021338,0.528128,0.085815,0.000740,0.007201,0.001294,0.005485,0.0,0.015529,0.0060
2,2015-03-07,1.0,0.181818,0.200000,"BUTTER,WHIPPED,WITH SALT","staple__rice__pilaf,staple__rice__rice",0.794900,0.010316,0.8111,0.000640,0.021338,0.528128,0.085815,0.000740,0.007201,0.001294,0.005485,0.0,0.015529,0.0060
3,2015-03-08,1.0,0.181818,0.233333,"BUTTER OIL,ANHYDROUS","beverage__hot_beverage__tea,condiment__condime...",0.971175,0.003398,0.9948,0.000000,0.000052,0.647741,0.100313,0.000000,0.001200,0.000000,0.001055,0.0,0.018742,0.0072
4,2015-03-11,1.0,0.181818,0.333333,"CHEESE,BLUE",staple__maize__cornbread,0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
5,2014-10-11,0.0,0.818182,0.333333,"CHEESE,BLUE","staple__wheat__flatbread,staple__wheat__pizza",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
6,2014-10-01,0.0,0.818182,0.000000,"CHEESE,BLUE","dessert__cookies__cooky,fruit__berry__cranberry",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
7,2014-10-07,0.0,0.818182,0.200000,"CHEESE,BLUE","breakfast_cereal__breakfast_cereal__oatmeal,co...",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
8,2014-10-08,0.0,0.818182,0.233333,"CHEESE,BLUE","egg_dairy__dairy_product__cheese,fruit__fruits...",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
9,2014-10-30,0.0,0.818182,0.966667,"CHEESE,BLUE","beverage__hot_beverage__apple_cider,condiment_...",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
10,2014-11-02,0.0,0.909091,0.033333,"CHEESE,BLUE","egg_dairy__dairy_product__feta,herb_spice__her...",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
11,2014-12-12,0.0,1.000000,0.366667,"CHEESE,BLUE","staple__wheat__bread,vegetable__root_and_tuber...",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
12,2015-01-12,1.0,0.000000,0.366667,"CHEESE,BLUE","egg_dairy__dairy_product__cheddar,meat__pork__...",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
13,2015-01-13,1.0,0.000000,0.400000,"CHEESE,BLUE","condiment__condiment__dip,dessert__confectione...",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
14,2015-02-04,1.0,0.090909,0.100000,"CHEESE,BLUE","beverage__energy_drink__energy_drink,fruit__tr...",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
15,2015-02-04,1.0,0.090909,0.100000,"CHEESE,BLUE","fruit__berry__cranberry,snack__snack__protein_bar",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
16,2015-02-25,1.0,0.090909,0.800000,"CHEESE,BLUE","dessert__cake__cake,dessert__confectionery__fu...",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
17,2015-02-26,1.0,0.090909,0.833333,"CHEESE,BLUE","condiment__condiment__balsamic_vinegar,fruit__...",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
18,2015-02-20,1.0,0.090909,0.633333,"CHEESE,BLUE","meat__meat__meat,staple__wheat__bun,staple__wh...",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020
19,2015-02-14,1.0,0.090909,0.433333,"CHEESE,BLUE","beverage__hot_beverage__tea,beverage__soft_dri...",0.391353,0.259709,0.2874,0.024973,0.035993,0.195282,0.029389,0.006163,0.158416,0.002508,0.054008,0.0,0.001673,0.0020

In [65]:
Merge_data.to_csv('STANDARD_DATA.csv',index=False)